############################
# Maven
############################
target/

############################
# Eclipse / STS
############################
bin/
.settings/
.metadata/

############################
# IntelliJ
############################
.idea/
*.iml

############################
# VS Code
############################
.vscode/

############################
# Java
############################
*.class

############################
# Logs
############################
*.log

############################
# OS Files
############################
.DS_Store
Thumbs.db